@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

/* <weight>: Use a value from 300 to 700 */
/* <uniquifier>: Use a unique and descriptive class name */

/* .spline-sans-mono-<uniquifier> {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  --font-primary: "Spline Sans Mono", monospace;

  --color-primary: #175DAB;
  --color-primary-hover: #093c75;
  --color-body: #000;
  --color-one: #F9F5F5;
  --color-two: #F0E6E6;
  --color-three: #d8c8c8;
  --color-green: #11921C;
  --color-active-green: #07EF49;
  --color-verify-red: #FF006F;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--color-body);
  font-family: var(--font-primary);
  font-size: 10px;
  line-height: 1.7;
  font-weight: 400;
  min-height: 100vh;
}
.for-mobile {
    display: none!important;
}
.bg-primary {
  background-color: var(--color-primary) !important;
}
.bg-one {
  background-color: var(--color-one) !important;
}
.text-primary {
  color: var(--color-primary) !important;
}
.text-body {
  color: var(--color-body) !important;
}
.text-green {
  color: var(--color-green) !important;
}
.text-hover-primary:hover {
  color: var(--color-primary) !important;
}
.btn-common {
  background-color: var(--color-primary);
  border-radius: 10px;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  padding: 16px 50px;
}
.btn-common:hover {
  background-color: var(--color-primary-hover);
  color: #fff;
}
.btn-common-text {
  background-color: transparent;
  border: none;
  color: var(--color-green);
  text-decoration: none;
  position: relative;
}
.btn-common-text:hover {
  color: var(--color-primary);
}
.underline-hover {
  position: relative;
}
.underline-hover::after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 0;
  height: 1px;
  background-color: var(--color-primary);
  content: "";
  transition: width 0.2s;
}
.underline-hover:hover::after {
  width: 100%;
}
.gap-10 {
  gap: 10px 10px!important;
}
.gap-15 {
  gap: 15px 15px!important;
}
.gap-20 {
  gap: 20px 20px!important;
}
.gap-30 {
  gap: 30px 30px!important;
}
.gap-20-70 {
  gap: 20px 70px!important;
}
.gap-10-30 {
  gap: 10px 30px!important;
}
.mt-10 {
  margin-top: 10px!important;
}
.mt-20 {
  margin-top: 20px!important;
}
.mt-30 {
  margin-top: 30px!important;
}
.mb-10 {
  margin-bottom: 10px!important;
}
.mb-20 {
  margin-bottom: 20px!important;
}
.mb-30 {
  margin-bottom: 30px!important;
}
.pt-10 {
  padding-top: 10px!important;
}
.pt-20 {
  padding-top: 20px!important;
}
.pt-30 {
  padding-top: 30px!important;
}
.pb-10 {
  padding-bottom: 10px!important;
}
.pb-20 {
  padding-bottom: 20px!important;
}
.pb-30 {
  padding-bottom: 30px!important;
}
.fs-10 {
  font-size: 10px!important;
}
.fs-12 {
  font-size: 12px!important;
}
.fs-14 {
  font-size: 14px!important;
}
.w-300 {
  width: 300px!important;
  max-width: 100%!important;
}
.form-label {
  font-size: 14px;
}
.form-control {
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-body);
  border: 1px solid var(--color-two);
  border-radius: 5px;
  padding: 9.5px 15px;
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--color-three);
}
.form-control::placeholder {
  color: var(--color-body);
}
textarea.form-control {
  min-height: 120px;
}
/*---- Dashboard Default Bootstrap CSS - START ----*/
.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: -0.125em;
  fill: currentColor;
}
.sidebar {
  /* max-width: 220px; */
}
.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}
.sidebar .nav-link.active {
  color: var(--color-primary);
}
.sidebar-heading {
  font-size: .75rem;
}
/*---- Navbar ----*/
.navbar-brand {
  background-color: var(--color-primary);
  padding: 36px 44px 0 44px;
}
.navbar .form-control {
  padding: .75rem 1rem;
}
/*---- Dashboard Default Bootstrap CSS - END ----*/


/*---- Sidebar CSS - START ----*/
.sidebar {
  /* min-height: 100vh; */
}
.logo-sidebar {
  padding: 36px 40px 66px 40px;
}
.offcanvas-header .btn-close:focus {
  box-shadow: none;
}
.sidebar ul.nav .nav-item {
  max-width: 100%;
}
.sidebar ul.nav .nav-item .nav-link {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  padding: 10px 40px;
  position: relative;
  /* transition: none; */
  transition: all 0.5s;
}
.sidebar ul.nav .nav-item .nav-link:hover,
.sidebar ul.nav .nav-item.active .nav-link,
.sidebar ul.nav .nav-item .nav-link.active {
  background-color: #fff;
  color: var(--color-primary);
  transition: all 0s;
}
.sidebar ul.nav .nav-item .nav-link::after,
.sidebar ul.nav .nav-item .nav-link::before {
  transition: all 2s;
}
.sidebar ul.nav .nav-item .nav-link:hover:after,
.sidebar ul.nav .nav-item.active .nav-link::after,
.sidebar ul.nav .nav-item .nav-link.active::after,
.sidebar ul.nav .nav-item .nav-link:hover::before,
.sidebar ul.nav .nav-item.active .nav-link::before,
.sidebar ul.nav .nav-item .nav-link.active::before {
  background-color: #fff;
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
}
.sidebar ul.nav .nav-item .nav-link:hover:after,
.sidebar ul.nav .nav-item.active .nav-link::after,
.sidebar ul.nav .nav-item .nav-link.active::after {
  right: 0;
  top: -20px;
  mask: radial-gradient(20px at top left, transparent 95%, black 100%);
  -webkit-mask: radial-gradient(20px at top left, transparent 95%, black 100%);
}
.sidebar ul.nav .nav-item .nav-link:hover::before,
.sidebar ul.nav .nav-item.active .nav-link::before,
.sidebar ul.nav .nav-item .nav-link.active::before {
  right: 0;
  bottom: -20px;
  mask: radial-gradient(20px at bottom left, transparent 95%, black 100%);
  -webkit-mask: radial-gradient(20px at bottom left, transparent 95%, black 100%);
}
.sidebar ul.nav .nav-item .nav-link:hover .link-text,
.sidebar ul.nav .nav-item.active .nav-link .link-text,
.sidebar ul.nav .nav-item .nav-link.active .link-text {
  background: url(../images/right-arrow-sidebar.svg) no-repeat right center;
  padding-right: 26px;
}
.sidebar ul.nav .nav-item .submenu .nav-link {
  font-size: 17px;
  padding-left: 55px;
}
.sidebar ul.nav .nav-item.with-submenu .nav-link .link-text {
  padding-right: 26px;
  display: block;
}
.sidebar ul.nav .nav-item.with-submenu .nav-link.collapsed .link-text {
  background: url(../images/icon-plus-sidebar.svg) no-repeat right center;
}
.sidebar ul.nav .nav-item.with-submenu .nav-link.collapsed:hover .link-text {
  background-image: url(../images/icon-plus-sidebar-blue.svg)!important;
}
.sidebar ul.nav .nav-item.with-submenu .nav-link .link-text {
  background: url(../images/icon-minus-sidebar.svg) no-repeat right center;
}
.sidebar ul.nav .nav-item.with-submenu .nav-link:hover .link-text {
  background-image: url(../images/icon-minus-sidebar-blue.svg);
}
/*---- Sidebar CSS - END ----*/
/*---- Main Body CSS - START ----*/
.main-body {
  margin-left: 16.66666667%;
  padding: 50px 40px;
}
.top-breadcrumb {
  font-size: 14px;
  font-weight: 700;
}
.page-tab-links a {
  text-decoration: none;
  color: var(--color-body);
}
.page-tab-links a:hover {
  color: var(--color-primary);
}
.page-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
}
table > :not(caption) > * > * {
  padding: 15px 5px!important;
  border-color: #D2CBCB!important;
}
table thead tr th {
  background-color: var(--color-one)!important;
  border-top: 1px solid var(--color-two)!important;
  border-bottom: 1px solid var(--color-two)!important;
  font-weight: 400;
}
table a {
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.5s;
  position: relative;
}
table a:hover {
  color: var(--color-primary-hover);
}
table a:after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 0;
  height: 1px;
  background-color: var(--color-primary);
  content: "";
  transition: width 0.2s;
}
table a:hover:after {
  width: 100%;
}
table a.text-green:after {
  background-color: var(--color-green);
}
.user-active {
  position: relative;
  padding-left: 15px!important;
}
.user-active::before {
  background-color: var(--color-active-green);
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
}
.user-verify {
  position: relative;
  padding-left: 15px!important;
}
.user-verify::before {
  background-color: var(--color-verify-red);
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
}
/*---- Main Body CSS - END ----*/
/*---- Datatable CSS - START ----*/
.common-datatable {
  overflow-x: unset;
}
.common-datatable .dt-container .row-second .dt-layout-full {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.common-datatable .dt-container>.row {
  /* margin-right: calc(-1 * (var(--bs-gutter-x) * 0.5)) !important;
  margin-left: calc(-1 * (var(--bs-gutter-x) * 0.5)) !important; */
}
.common-datatable .dt-container>.row>* {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.common-datatable.no-search-bar .dt-container .row-first {
  display: none!important;
}
.common-datatable .dt-container .row-first {
  position: relative;
  padding-bottom: 40px;
}
.common-datatable .dt-container .row-first::after {
  content: "Search results";
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--color-body);
}
.common-datatable .dt-container .dt-search-bar {
  order: 1!important;
}
.common-datatable .dt-container .dt-search-bar .dt-search {
  display: flex;
  gap: 15px 30px;
}
.common-datatable .dt-container .dt-search-bar .dt-search label {
  display: none!important;
}
.common-datatable .dt-container .dt-search-bar .dt-search .form-control {
  background-color: var(--color-one) !important;
  margin-left: 0;
  padding: 17px 15px;
  width: 300px;
  max-width: 100%;
}
.common-datatable .dt-container .dt-search-bar .dt-search .btn-search-reset {
  background-color: transparent;
  border: none;
  font-size: 14px;
  padding: 0;
  /* margin-left: 30px; */
  margin-left: 0;
  transition: all 0.5s;
}
.common-datatable .dt-container .dt-search-bar .dt-search .btn-search-reset:hover {
  color: var(--color-primary);
}
.common-datatable .dt-container .dt-entries-per-page {
  order: 2!important;
  display: none!important;
}
.common-datatable .dt-container .row-second {
  margin-top: 20px!important;
}
.common-datatable .dt-column-header {
  justify-content: flex-start!important;
}
.common-datatable .dt-column-header .dt-column-title {
  flex-grow: 0!important;
}
.common-datatable .dt-type-numeric,
.common-datatable .dt-type-date {
  text-align: left!important;
}
.common-datatable .dt-type-numeric .dt-column-header,
.common-datatable .dt-type-date .dt-column-header {
  flex-direction: unset!important;
}
.common-datatable .row-third {
  justify-content: flex-end!important;
}
/*---- Datatable CSS - END ----*/
/*---- Pagination CSS - START ----*/
.pagination .page-item.active .page-link {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}
.pagination .page-item .page-link {
  color: var(--color-primary);
}
.pagination .page-item .page-link:focus {
  box-shadow: none;
}
/*---- Pagination CSS - END ----*/
/*---- Toggle Switch CSS - START ----*/
.toggle-switch-cont {
  display: flex;
  gap: 10px;
  align-items: center;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 15px;
}    
.toggle-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}    
.switch {
  background-color: #D9D9D9;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}    
.switch:before {
  background-color: #fff;
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 2px;
  bottom: 2px;
  -webkit-transition: .4s;
  transition: .4s;
}    
input:checked + .switch {
  /* background-color: var(--color-active-green); */
}
input:focus + .switch {
  /* box-shadow: 0 0 1px var(--color-active-green); */
}    
input:checked + .switch:before {
  background-color: var(--color-active-green);
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}    
.switch.round {
  border-radius: 15px;
}    
.switch.round:before {
  border-radius: 50%;
}
/*---- Toggle Switch CSS - END ----*/
/*---- Custom Input Type >File CSS - START ----*/
.upload-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  overflow: hidden;
   width: fit-content;
  /* width: 110px; */
}
.upload-box #fileInput {
  display: none;
}
.inputPlaceholder {
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 700;
  order: 2;
  margin: 0;
  transition: all 0.5s;
}
.upload-box .inputPlaceholder:hover {
  color: var(--color-green);
}
.upload-box img {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  object-fit: cover;
  object-position: center center;
  order: 1;
  margin-bottom: 10px;
  height: 100px;
  width: 100px;
}
.upload-box .previews {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  order: 1;
  margin-bottom: 10px;
}
.upload-box .previews img {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  object-fit: cover;
  object-position: center center;
  height: 100px;
  width: 100px;
}
/*---- Custom Input Type >File CSS - END ----*/
/*---- Single Page CSS - START ----*/
.label-text {
  background-color: var(--color-one);
  border-left: 1px solid var(--color-two);
  border-right: 1px solid var(--color-two);
  font-size: 14px;
  padding: 15px 20px;
  text-align: right;
  height: 100%;
}
.info-text {
  font-size: 14px;
  padding: 15px 20px;
}
.info-text.px-0 {
  padding-top: 6px;
  padding-bottom: 6px;
}
.right-info-box {
  border-left: 4px solid var(--color-one);
  padding-left: 30px;
}
.profile-img {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  height: 100px;
  object-fit: cover;
  object-position: center center;
}
/*---- Single Page CSS - END ----*/