/*---- Sidebar ----*/
@media screen and (max-width: 1199px) {
  .right-info-box {
    border-left: none;
    padding-left: 0;
    border-top: 4px solid var(--color-one);
    margin-top: 20px;
    padding-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .logo-sidebar {
    padding: 36px 20px 66px 20px;
  }
  .sidebar ul.nav .nav-item .nav-link {
    font-size: 16px;
    padding: 10px 20px;
  }
}
@media (min-width: 768px) {
  .for-desktop {
      display: inline-block!important;
  }
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .for-desktop {
    display: none!important;
  }
  .for-mobile {
    display: inline-block!important;
  }
  .btn-common {
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 30px;
  }
  header {
    background-color: var(--color-primary);
  }
  .navbar-brand {
    padding: 15px;
  }
  .sidebar {
    min-height: auto;
  }
  .sidebar .offcanvas-header,
  .sidebar .offcanvas-body {
    background-color: var(--color-primary);
  }
  .main-body {
    padding: 30px 20px 60px 20px;
  }
  .page-title {
    font-size: 26px;
  }
  .label-text {
    padding: 4px 15px;
    text-align: left;
  }
  .info-text {
    padding: 10px 15px;
  }
}